:root {
    --input-border: 2px solid silver;
    --border-radius: .1rem;
    --border-radius2: .2rem;
}

*,
*::after,
*::before {
    /* background-color: #FAFAC8; */
    background-color: #0A0A0A;
    box-sizing: border-box;
    /* color: #000000; */
    /* color: #e9e9e6; */
    color: #f8f8f8;
    font-family: sans-serif;  
    margin: 0;
    padding: 0;
}

body, 
h1,
h2,
h3,
small,
ul,
a,
p {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    min-height: 100vh;
}

header {
    border-bottom: 1px solid gray;
    min-width: 100vw;
}

h1 {
    font-weight: 900;
    padding: .5rem 1rem;
}

h2 {
    font-weight: 700;
    padding: .5rem 1rem;
    text-align: center;
}

a {
    align-self: center;
    text-decoration: none;
}

ul {
    display: flex;
    list-style-type: none;
    margin-block-end: 0rem;
    margin-block-start: 0rem;
    padding-inline-start: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

svg,
img,
picture,
.icon-outline {
    align-self: center;
    display: block;
    /* fill: gray; */
    max-width: 100%;
}

input, 
button,
textarea,
select {
    font: inherit;
}

.layout-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 100vw;
}

.form-page-container,
.home-page-container {
    display: flex;
    flex-direction: column;
}

footer {
    border-top: 1px solid gray;
    display: flex;
    min-width: 100vw;
    padding: .5rem;
}

.a-tags-container,
.footer-note {
    display: flex;
}

.footer-wrapper {
    display: flex;
    justify-content: space-evenly;
    min-width: 14rem;
}

aside {
    display: flex;
}

nav {
    border-bottom: 1px solid gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-width: 100%;
    padding: .5rem;
}

.top-container {
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    min-width: 100vw;
}

/* buttons and links */
ul:hover > * {
    color: gray;
}

ul:active > * {
    color: lightgray;
}

.my-link:hover > * {
    fill: gray;
}

.my-link:active > * {
    fill: lightgray;
}

.button-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 100vw;
    min-height: 15rem;
    min-width: 20vw;
    padding: 1rem;
}

.link-button,
button {
    background-color: rgb(142, 142, 142);
    border: 2px solid lightgray;
    border-radius: var(--border-radius2);
    color: #0A0A0A;
    margin: .5rem;
    max-width: 15rem;
    padding: .75rem;
}

.link-button:hover,
button:hover {
    background-color: white;
    color: rgb(51, 51, 51);

}

.link-button:active,
button:active {
    background-color: rgb(210, 209, 209);
    border: 1px solid white;
    color: rgb(51, 51, 51);
    padding: .81rem;
}
.button-hover {
    background-color: white;
    color: rgb(51, 51, 51);
}

.button-active {
    background-color: rgb(210, 209, 209);
    border: 1px solid white;
    color: rgb(51, 51, 51);
    padding: .81rem;

}

/* Form */
.my-form-container {
    align-items: center;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    font-size: small;
    justify-content: space-around;
    min-width: 95vw;
    padding: .3rem;
}
.input-container,
.select-container,
.radio-container,
.textarea-container,
.checkbox-container {
    align-items: center;
    border: 1px solid gray;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    margin: .2rem;
    min-width: 90vw;
    padding: .5rem;
}
.select-container > select {
    min-width: 40vw;
}
.radio-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

legend,
label {
    color: rgb(218, 218, 218);
}

input,
textarea {
    background-color: rgb(122, 122, 122);
    border: var(--input-border);
    border-radius: var(--border-radius);
    color: rgb(218, 218, 218);
    padding: .3rem .5rem;
}

.my-input {
    min-width: 60vw;
}

.my-textarea {
    min-height: 5rem;
    min-width: 70vw;
}

input::placeholder,
textarea::placeholder {
    color: rgb(218, 218, 218);
}

/* Accessibility Features ----------------------------- */
.skip-link {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    transition: all 0.5s ease-out;
    width: 1px;
}

.skip-link:focus {
    height: auto; 
    position: static;
    width: auto;
}

.skip-link:hover,
.skip-link:active {
    color: red;
}

/* Media Queries ---------------------------------------- */
/* 4k screens 3840(2160): */
@media (min-width: 3840px) {}

/* combined 1536px <= width <= 1919px and 1920px <= width <= 3839px:  */
@media (1536px <= width <= 3839px) {
    header {
        border-bottom: none;
        display: flex;
        justify-content: flex-start;
        max-width: 50vw;
        min-width: 50vw;
        padding-left: 1rem;
    }
    h1 {
        font-size: 3rem;
    }
    .top-container {
        border-bottom: 1px solid gray;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 100vw;
    }
   
    .my-aside {
        min-width: 40vw;
        max-width: 50vw;
    } 

    .nav-bar {
        border-bottom: none;
        border-left: 1px solid gray;
        max-width: 50vw;
    }
    .nav-root,
    .nav-profile,
    .nav-scoreboard {
        border: 1px solid white;
        margin: 0 1rem;
        padding: .3rem 1rem;
    }
    main {
        align-items: normal;
        display: flex;
    }
}
/* Nest Hub 1024 width (by 600) */
/* Nest Hub Max 1280 by 800 */
@media (1024px <= width <= 1535px) {
    header {
        border-bottom: none;
        display: flex;
        justify-content: center;
        max-width: 50vw;
        min-width: 50vw;
    }
    h1 {
        font-size: 2.5rem;
    }
    .top-container {
        border-bottom: 1px solid gray;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 100vw;
    }
   
    .my-aside {
        max-width: 50vw;
    } 

    .nav-bar {
        border-bottom: none;
        border-left: 1px solid gray;
        max-width: 50vw;
    }
    .nav-root,
    .nav-profile,
    .nav-scoreboard {
        border: 1px solid white;
        margin: 0 1rem;
        padding: .3rem 1rem;
    }
    main {
        align-items: normal;
        display: flex;
    }
}

/* iPad Mini width 768 (by 1024) */
/* Kindle Fire HDX Linux 800 (by 1280) */
/* iPad Air width 820(1180) up to Next Hub */
@media (768px <= width <= 1023px) {
    /* here is when we switch the aside nav to upper right */
    .top-container {
        border-bottom: 1px solid gray;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 100vw;
    }
    header {
        border-bottom: none;
        display: flex;
        justify-content: center;
        max-width: 50vw;
        min-width: 50vw;
    }
    h1 {
        font-size: 2rem;
    }
   
    .my-aside {
        max-width: 50vw;
    } 

    .nav-bar {
        border-bottom: none;
        border-left: 1px solid gray;
        max-width: 50vw;
    }
    .nav-root,
    .nav-profile,
    .nav-scoreboard {
        background-color: rgb(51, 51, 51);
        border: 1px solid white;
        margin: 0 .5rem;
        padding: .3rem .5rem;
    }
    .nav-bar > * > * {
        background-color: rgb(51, 51, 51);
    }
}

/* Surface Duo 540(720) width up to iPad Mini width: */
@media (540px <= width <= 767px) {
    .top-container {
        border-bottom: none;
    }
    header {
        display: flex;
        justify-content: center;
    }
    h1 {
        font-size: 2rem;
    }
}

/* iPhone XR 414px width */
/* Galaxy Fold width up to Surface Duo width: */
@media (279px <= width <= 539px) {
    .top-container {
        border-bottom: none;
    }
    header {
        display: flex;
        justify-content: center;
    }
    h1 {
        font-size: 1.6rem;
    }
    .nav-bar {
        font-size: small;
    }
}